In [181]:
import pandas as pd
import re
import json
import numpy as np
from matplotlib.pyplot import figure, show
import jellyfish

# Reading the data

First we are going to read the data.

In [182]:
authors = pd.read_csv('~/data/authors_1019.csv', encoding = "ISO-8859-1")
investigators = pd.read_csv('~/data/investigators_837.csv', encoding = "ISO-8859-1")

# First Look 
In this sections I will just take a first look at the data, check if anything is weird or not normal.

In [183]:
authors.head()

,id,first_name,middle_name,lastname,coauthor_lastnames,topics,cities,countries,orcid
0,1,kalid,NaN,abdlslam,"[""howard"",""thumbikat"",""bonnaire"",""oleksak"",""sa...","[""Female"",""Magnetic Resonance Imaging"",""Spondy...","[{""identifier"":2638077,""name"":""Sheffield""}]","[{""identifier"":2635167,""name"":""United Kingdom""}]",NaN
1,2,p,d,abel,"[""ockrim"",""lalani"",""pollock"",""price"",""langley""...","[""Risk Factors"",""Humans"",""Fractures, Spontaneo...","[{""identifier"":2643743,""name"":""London""}]","[{""identifier"":2635167,""name"":""United Kingdom""}]",NaN
2,3,k,NaN,abida,"[""syed"",""arshad"",""minakshi""]","[""Tomography, X-Ray Computed"",""Male"",""Parapare...","[{""identifier"":null,""name"":null}]","[{""identifier"":null,""name"":null}]",NaN
3,4,a,NaN,walker,"[""abou raya"",""helmii""]","[""Geriatric Assessment"",""Case-Control Studies""...","[{""identifier"":361058,""name"":""Alexandria""}]","[{""identifier"":357994,""name"":""Egypt""}]",NaN
4,5,steven,a,abrams,"[""perez"",""ellis"",""loddeke"",""shypailo"",""dawson ...","[""Time Factors"",""Adrenal Cortex Hormones"",""Chi...","[{""identifier"":4699066,""name"":""Houston""}]","[{""identifier"":6252001,""name"":""United States""}]",NaN

In [184]:
investigators.head()

,id,first_name,middle_name,lastname,coinvestigator_lastnames,topics,cities,countries,orcid
0,1,c,NaN,walker,"[""brazil"",""ballerup"",""riis"",""herriot""]","[""Calcitonin Gene-Related Peptide"",""Calcitonin...","[{""identifier"":null,""name"":null}]","[{""identifier"":null,""name"":null}]",NaN
1,2,kantonsspital,NaN,aarau,"[""gross""]","[""Osteoporotic Fractures"",""Osteoporosis, Postm...","[{""identifier"":null,""name"":null}]","[{""identifier"":null,""name"":null}]",NaN
2,3,kantonspital,NaN,wang,"[""aebi"",""di bergamo"",""bern"",""bergonie"",""vergin...","[""Tamoxifen"",""Osteoporosis"",""Breast Neoplasms""]","[{""identifier"":null,""name"":null}]","[{""identifier"":null,""name"":null}]",NaN
3,4,m,NaN,li,"[""sherman""]","[""Osteoporosis""]","[{""identifier"":null,""name"":null}]","[{""identifier"":null,""name"":null}]",NaN
4,5,paul,NaN,abel,"[""nhs""]","[""Estradiol"",""Goserelin"",""Osteoporosis"",""Estro...","[{""identifier"":2643743,""name"":""London""}]","[{""identifier"":2635167,""name"":""United Kingdom""}]",NaN

The cities and country seems to be in JSON format. Just incase we will use them later I would like to do some processing of them. Also I take notice of list format of Topic and co-authors but this can stay as is.

In [185]:
authors['cities'] = authors['cities'].apply(lambda x : json.loads(x))
authors['countries'] = authors['countries'].apply(lambda x : json.loads(x))
authors = pd.concat([authors, authors['cities'].apply(pd.Series)[0].apply(pd.Series)], axis = 1).drop('cities', axis = 1).rename(columns={"identifier": "city_id", "name": "city_name"})
authors = pd.concat([authors, authors['countries'].apply(pd.Series)[0].apply(pd.Series)], axis = 1).drop('countries', axis = 1).rename(columns={"identifier": "country_id", "name": "country_name"})

In [186]:
investigators['cities'] = investigators['cities'].apply(lambda x : json.loads(x))
investigators['countries'] = investigators['countries'].apply(lambda x : json.loads(x))
investigators = pd.concat([investigators, investigators['cities'].apply(pd.Series)[0].apply(pd.Series)], axis = 1).drop('cities', axis = 1).rename(columns={"identifier": "city_id", "name": "city_name"})
investigators = pd.concat([investigators, investigators['countries'].apply(pd.Series)[0].apply(pd.Series)], axis = 1).drop('countries', axis = 1).rename(columns={"identifier": "country_id", "name": "country_name"})

Lets take a look at the data after we have processed it just to keep it in mind.

In [187]:
authors

,id,first_name,middle_name,lastname,coauthor_lastnames,topics,orcid,city_id,city_name,country_id,country_name
0,1,kalid,NaN,abdlslam,"[""howard"",""thumbikat"",""bonnaire"",""oleksak"",""sa...","[""Female"",""Magnetic Resonance Imaging"",""Spondy...",NaN,2638077.0,Sheffield,2635167.0,United Kingdom
1,2,p,d,abel,"[""ockrim"",""lalani"",""pollock"",""price"",""langley""...","[""Risk Factors"",""Humans"",""Fractures, Spontaneo...",NaN,2643743.0,London,2635167.0,United Kingdom
2,3,k,NaN,abida,"[""syed"",""arshad"",""minakshi""]","[""Tomography, X-Ray Computed"",""Male"",""Parapare...",NaN,NaN,None,NaN,None
3,4,a,NaN,walker,"[""abou raya"",""helmii""]","[""Geriatric Assessment"",""Case-Control Studies""...",NaN,361058.0,Alexandria,357994.0,Egypt
4,5,steven,a,abrams,"[""perez"",""ellis"",""loddeke"",""shypailo"",""dawson ...","[""Time Factors"",""Adrenal Cortex Hormones"",""Chi...",NaN,4699066.0,Houston,6252001.0,United States
5,6,stefan,NaN,majumdar,"[""zaman"",""thurlimann"",""brauchli"",""pagani"",""lut...","[""Tamoxifen"",""Antineoplastic Combined Chemothe...",653524.0,2659811.0,Luzern,2658434.0,Switzerland
6,7,imelda,NaN,xu,"[""eastell"",""todd"",""schollum"",""li yu"",""wijanto""...","[""Animals"",""Middle Aged"",""Indonesia"",""Food, Fo...",NaN,NaN,None,NaN,None
7,8,antonio,j,aguiar,"[""vulcano"",""teixeira"",""rahal"",""pereira júnior""...","[""Animals, Wild"",""Maxillary Fractures"",""Animal...",NaN,NaN,None,NaN,None
8,9,i,NaN,majumdar,"[""nuñez roldan""]","[""Female"",""Parathyroid Hormone"",""Postoperative...",NaN,NaN,None,NaN,None
9,10,o,NaN,alade,"[""jackson hutson"",""rochman""]","[""Ilizarov Technique"",""Male"",""Debridement"",""Fe...",NaN,NaN,None,NaN,None
10,11,s,NaN,alavizadeh,"[""keshtkar"",""panahi"",""aghaei meybodi"",""qorbani...","[""Calcium"",""Logistic Models"",""Male"",""Osteoporo...",NaN,112931.0,Tehran,130758.0,Iran
11,12,david,s,alberts,"[""chen"",""guillen rodríguez"",""martínez"",""marsha...","[""Aging"",""Double-Blind Method"",""Time Factors"",...",NaN,NaN,None,6252001.0,United States
12,13,g,NaN,aldrovandi,"[""brown"",""santana"",""cardoso"",""huang"",""overton""...","[""Incidence"",""Fractures, Bone"",""Risk Assessmen...",559803.0,NaN,None,NaN,None
13,14,d,lee,alekel,"[""stewart"",""hanson"",""germain"",""peterson"",""toda...","[""Biomarkers"",""Bone and Bones"",""Osteoporosis"",...",NaN,4846834.0,Ames,6252001.0,United States
14,15,roberta,NaN,hsu,"[""tripepi"",""mallamaci"",""zoccali"",""panuccio"",""e...","[""Female"",""Male"",""Prevalence"",""Risk Factors"",""...",NaN,NaN,None,NaN,None
15,16,c,NaN,alitz,"[""giuliani"",""masini"",""owens"",""holcomb"",""mchenr...","[""Shoes"",""Young Adult"",""Fractures, Stress"",""Ru...",NaN,NaN,None,NaN,None
16,17,yannick,NaN,allanore,"[""marques pinheiro"",""abifadel"",""varret"",""boile...","[""LDL-Receptor Related Proteins"",""Fractures, B...",NaN,NaN,None,NaN,None
17,18,kyle,r,allen,"[""kauh"",""hua"",""polak"",""hazelett"",""gerson"",""bla...","[""Survival Rate"",""Aged, 80 and over"",""Continui...",238516.0,4259418.0,Indianapolis,6252001.0,United States
18,19,john,NaN,lin,"[""pollack"",""feuerman"",""yeh"",""talwar"",""swedler""...","[""Osteoporosis, Postmenopausal"",""Humans"",""Dose...",287914.0,5127134.0,Mineola,6252001.0,United States
19,20,m,k,altman,"[""wronski"",""borst"",""franz"",""yarrow"",""conover"",...","[""Osteocalcin"",""Rats, Inbred F344"",""Femur"",""Ki...",NaN,NaN,None,NaN,None
20,21,a,NaN,amin,"[""el azm"",""al zeky"",""saifuddin"",""curry"",""nawab...","[""Male"",""Vacuum Extraction, Obstetrical"",""Dise...",NaN,107968.0,Taif,102358.0,Saudi Arabia
21,22,a,k,amstrup,"[""rejnmark"",""mosekilde"",""vestergaard"",""heicken...","[""Osteoporosis"",""Female"",""Male"",""Severity of I...",NaN,2624652.0,Århus,2623032.0,Denmark
22,23,athanasios,NaN,anastasilakis,"[""goulis"",""avramidis"",""kita"",""slavakis"",""kouko...","[""Blood Glucose"",""Insulin"",""Osteoporosis, Post...",NaN,734077.0,Thessaloníki,390903.0,Greece
23,24,sameh,NaN,ansara,"[""elgamal"",""tanagho"",""el kawy"",""moftah"",""shala...","[""Aged, 80 and over"",""Shoulder Fractures"",""Hum...",NaN,NaN,None,NaN,None
24,25,j,NaN,anzai,"[""nakamura"",""kawaguchi"",""tabata"",""ikada"",""aoya...","[""Biomarkers"",""Male"",""Ulna Fractures"",""Biomech...",NaN,NaN,None,NaN,None
25,26,shotaro,NaN,arakawa,"[""saito"",""kida"",""nishizawa"",""marumo"",""seki"",""o...","[""Macaca fascicularis"",""Ovariectomy"",""Cross-Li...",NaN,NaN,None,1861060.0,Japan
26,27,berna,NaN,arda,"[""belen"",""kahya"",""aciduman"",""ozakturk"",""telatar""]","[""Medical Illustration"",""Islam"",""Humans"",""Hist...",NaN,NaN,None,NaN,None
27,28,francisco,NaN,arellano,"[""amato"",""luna pizarro"",""hernandez"",""lopez roj...","[""Patella"",""Injury Severity Score"",""Adult"",""Hu...",NaN,NaN,None,NaN,None
28,29,f,NaN,arguelles arias,"[""de la coba ortiz"",""rodríguez de santiago"",""r...","[""Nervous System Diseases"",""Proton Pump Inhibi...",NaN,1713797.0,España,1694008.0,Philippines
29,30,robert,m,aris,"[""ontjes"",""lark"",""lester"",""renner"",""winders"",""...","[""Anti-Inflammatory Agents"",""Adult"",""Infusions...",NaN,4460162.0,Chapel Hill,6252001.0,United States
...,...,...,...,...,...,...,...,...,...,...,...
989,990,mohamed,NaN,cheung,"[""bedair"",""fiscina"",""el kholy"",""soliman"",""de s...","[""Osteoporosis"",""Female"",""Male"",""beta-Thalasse...",NaN,290030.0,Doha,289688.0,Qatar
990,991,subhashini,NaN,smith,"[""alferos"",""deprisco"",""djedjos"",""jain"",""bryant...","[""Fractures, Bone"",""Hydroxymethylglutaryl-CoA ...",156316.0,4341513.0,Shreveport,6252001.0,United States
991,992,bulent,NaN,yazici,"[""taner"",""kivanc""]","[""Blindness"",""Optic Nerve Diseases"",""Tomograph...",NaN,750269.0,Bursa,298795.0,Turkey
992,993,qibin,NaN,liu,"[""gao"",""jiang"",""zhang"",""bai"",""wu"",""li"",""yang"",...","[""Internal Fixators"",""Middle Aged"",""Adolescent...",NaN,NaN,None,NaN,None
993,994,j,s,yeom,"[""kang"",""kim"",""choy"",""lee"",""chang"",""park"",""jeo...","[""Middle Aged"",""Fractures, Spontaneous"",""Spina...",NaN,1835235.0,Daejeon,1835841.0,South Korea
994,995,cem,NaN,kono,"[""calisaneller"",""gulsen"",""caner"",""altinors"",""o...","[""Orthopedic Procedures"",""Functional Lateralit...",NaN,NaN,None,NaN,None
995,996,eu,NaN,yong,"[""yap"",""moochhala"",""mok"",""liang"",""chong"",""yong...","[""Polymorphism, Genetic"",""Aged"",""Middle Aged"",...",538405.0,1880252.0,Singapore,1880251.0,Singapore
996,997,diana,m,yoon,"[""piper"",""demian"",""ather"",""nair"",""seng"",""anver...","[""Time Factors"",""Polypropylenes"",""Torsion, Mec...",NaN,NaN,None,NaN,None
997,998,hai,yang,ofotokun,"[""zhou"",""zhu"",""hou"",""guan""]","[""Estrogens"",""3',5'-Cyclic-AMP Phosphodiestera...",NaN,NaN,None,NaN,None
998,999,hsing,NaN,zhang,"[""chao"",""huang"",""liu"",""tsai"",""wu""]","[""Interleukin 1 Receptor Antagonist Protein"",""...",NaN,NaN,None,NaN,None
999,1000,federico,NaN,zangrando,"[""buzi"",""iosa"",""grasso"",""morone"",""paolucci"",""s...","[""Adaptation, Physiological"",""Treatment Outcom...",NaN,NaN,None,NaN,None
1000,1001,k,NaN,chan,"[""nawrocki"",""radek"",""demus"",""maklewska"",""matyj...","[""Fractures, Bone"",""Motorcycles"",""Materials Te...",NaN,3093133.0,Lódz,798544.0,Poland
1001,1002,joachim,NaN,zeeh,"[""behringer""]","[""Osteoporotic Fractures"",""Lumbar Vertebrae"",""...",NaN,2872225.0,Meiningen,2921044.0,Germany
1002,1003,babette,NaN,zemel,"[""hwang"",""hilaire"",""takahashi"",""wehrli"",""leona...","[""Growth Plate"",""Bone and Bones"",""Osteoporosis...",98387.0,4560349.0,Philadelphia,6252001.0,United States
1003,1004,y,NaN,zeng,"[""wang"",""xu"",""zheng""]","[""Male"",""Female"",""Follow-Up Studies"",""Treatmen...",NaN,NaN,None,NaN,None
1004,1005,guochun,NaN,shen,"[""dong"",""wei"",""sun"",""wang"",""fany""]","[""Range of Motion, Articular"",""Aged, 80 and ov...",NaN,NaN,None,NaN,None
1005,1006,li,NaN,zhang,"[""chen"",""xiao"",""luo""]","[""Zygomatic Fractures"",""Zygoma"",""Fracture Fixa...",NaN,NaN,None,NaN,None
1006,1007,guang,NaN,zhang,"[""chen"",""wang"",""lu"",""song"",""wu""]","[""Tidal Volume"",""Cardiopulmonary Resuscitation...",NaN,1792947.0,Tianjin,1814991.0,China
1007,1008,z,y,zhang,"[""wang"",""xie"",""tian""]","[""Microsurgery"",""Drainage"",""Fracture Fixation""...",NaN,NaN,None,NaN,None
1008,1009,h,NaN,zhao,"[""jiang"",""hou"",""gao"",""xu"",""qu""]","[""Bone Screws"",""Fracture Fixation, Internal"",""...",NaN,NaN,None,NaN,None
1009,1010,fang,NaN,lewis,"[""ruokun"",""zhihong"",""ming"",""kai"",""jing"",""jingj...","[""Ankle Fractures"",""Young Adult"",""Recovery of ...",NaN,1791247.0,Wuhan,1814991.0,China
1010,1011,xueying,NaN,wu,"[""xing"",""meng"",""tian"",""yu"",""xia"",""li"",""jiang""]","[""Osteoporosis, Postmenopausal"",""Time Factors""...",NaN,NaN,None,NaN,None
1011,1012,j,h,jiang,"[""ren""]","[""Temporomandibular Joint"",""Mandibular Condyle...",NaN,1797353.0,Quanzhou,1814991.0,China
1012,1013,bin,NaN,zhou,"[""silva"",""hans"",""bilezikian"",""cremers"",""udesky...","[""Imaging, Three-Dimensional"",""Tomography, X-R...",NaN,NaN,None,NaN,None
1013,1014,h,NaN,zhou,"[""xu"",""rui"",""zhou""]","[""Disease Progression"",""Female"",""Male"",""Osteop...",NaN,NaN,None,NaN,None
1014,1015,zexing,NaN,zhu,"[""li"",""he"",""hao"",""wang"",""zhou""]","[""Male"",""Surgery, Computer-Assisted"",""Imaging,...",NaN,1816670.0,Beijing,1814991.0,China
1015,1016,xue,NaN,weaver,"[""levy"",""patrick"",""liu"",""guo"",""tan"",""wang"",""sh...","[""Bone Density"",""Humans"",""Polymorphism, Single...",NaN,NaN,None,NaN,None
1016,1017,xuesong,NaN,liu,"[""gu"",""chen"",""liu"",""xu"",""bai"",""yang""]","[""Middle Aged"",""Back Pain"",""Spinal Fractures"",...",NaN,NaN,None,NaN,None
1017,1018,g,NaN,cheung,"[""peleg"",""wollstein"",""emelife"",""luria"",""schwar...","[""Range of Motion, Articular"",""Injury Severity...",1036504.0,281184.0,Jerusalem,294640.0,Israel
1018,1019,h,NaN,song,"[""xu"",""sun"",""li"",""wang"",""sheng""]","[""Middle Aged"",""Kyphoplasty"",""Aged"",""Vertebrop...",NaN,1816670.0,Beijing,1814991.0,China

In [188]:
investigators

,id,first_name,middle_name,lastname,coinvestigator_lastnames,topics,orcid,city_id,city_name,country_id,country_name
0,1,c,NaN,walker,"[""brazil"",""ballerup"",""riis"",""herriot""]","[""Calcitonin Gene-Related Peptide"",""Calcitonin...",NaN,NaN,None,NaN,None
1,2,kantonsspital,NaN,aarau,"[""gross""]","[""Osteoporotic Fractures"",""Osteoporosis, Postm...",NaN,NaN,None,NaN,None
2,3,kantonspital,NaN,wang,"[""aebi"",""di bergamo"",""bern"",""bergonie"",""vergin...","[""Tamoxifen"",""Osteoporosis"",""Breast Neoplasms""]",NaN,NaN,None,NaN,None
3,4,m,NaN,li,"[""sherman""]","[""Osteoporosis""]",NaN,NaN,None,NaN,None
4,5,paul,NaN,abel,"[""nhs""]","[""Estradiol"",""Goserelin"",""Osteoporosis"",""Estro...",NaN,2643743.0,London,2635167.0,United Kingdom
5,6,anna,NaN,walker,[],"[""Vitamins"",""Osteoporosis"",""Ergocalciferols"",""...",NaN,361058.0,Alexandria,357994.0,Egypt
6,7,s,NaN,abrams,"[""abrams""]","[""Calcium, Dietary"",""Osteoporosis"",""Puberty, P...",NaN,4699066.0,Houston,6252001.0,United States
7,8,steve,NaN,abrams,"[""abrams""]","[""Calcium, Dietary"",""Osteoporosis"",""Puberty, P...",NaN,NaN,None,NaN,None
8,9,o,NaN,adeyemi,"[""rothstein""]","[""Osteoporosis"",""Bone Diseases"",""HIV Infection...",NaN,NaN,None,NaN,None
9,10,fibrosi,NaN,adulti,"[""cistica"",""bianchi""]","[""Cystic Fibrosis"",""Fibrosis"",""Osteoporosis"",""...",NaN,NaN,None,NaN,None
10,11,s,NaN,majumdar,"[""aarau"",""di bergamo"",""bern"",""bergonie"",""vergi...","[""Tamoxifen"",""Osteoporosis"",""Breast Neoplasms""]",653524.0,2659811.0,Luzern,2658434.0,Switzerland
11,12,n.,NaN,al,"[""krause"",""anna""]","[""Osteoporosis, Postmenopausal"",""Calcitonin"",""...",NaN,NaN,None,NaN,None
12,13,d,NaN,alberts,"[""st. louis cape girardeau"",""pratt"",""disaia"",""...","[""Ovarian Neoplasms"",""Osteoporosis"",""Diphospho...",NaN,NaN,None,6252001.0,United States
13,14,grace,m,aldrovandi,"[""hosp"",""jude""]","[""Bone Diseases, Metabolic"",""Lipodystrophy"",""H...",559803.0,NaN,None,NaN,None
14,15,d,NaN,alekel,"[""reddy""]","[""Bone Diseases, Metabolic"",""Osteoporosis""]",NaN,4846834.0,Ames,6252001.0,United States
15,16,yannick,NaN,allanore,[],"[""Arthritis"",""Arthritis, Rheumatoid""]",NaN,NaN,None,NaN,None
16,17,k,NaN,allen,"[""hazelett""]","[""Lung Diseases"",""Myocardial Ischemia"",""Corona...",238516.0,4259418.0,Indianapolis,6252001.0,United States
17,18,f,NaN,allen,"[""goss""]","[""Osteoporosis"",""Breast Neoplasms""]",NaN,NaN,None,NaN,None
18,19,john,f,lin,[],"[""Ergocalciferols"",""Vitamin D"",""Vitamins"",""Ost...",287914.0,5127134.0,Mineola,6252001.0,United States
19,20,cap,NaN,alta,"[""azagra"",""caneletes"",""del valles"",""serraparera""]","[""Osteoporosis""]",NaN,NaN,None,NaN,None
20,21,e,NaN,alvarez rodriguez,"[""tonkin""]","[""Osteoporosis"",""Alendronate""]",NaN,NaN,None,NaN,None
21,22,anne,kristine,amstrup,[],"[""Melatonin"",""Osteoporosis"",""Bone Diseases, Me...",NaN,2624652.0,Århus,2623032.0,Denmark
22,23,a,d,anastasilakis,[],"[""Diphosphonates"",""Osteoporosis"",""Denosumab"",""...",NaN,734077.0,Thessaloníki,390903.0,Greece
23,24,j,b,krause,"[""blasco""]","[""Fractures, Bone"",""Spinal Fractures"",""Back Pa...",NaN,NaN,None,NaN,None
24,25,a,NaN,ankam,[],"[""Calcitonin Gene-Related Peptide"",""Calcitonin...",NaN,NaN,None,NaN,None
25,26,sveta,NaN,yang,"[""al"",""krause""]","[""Osteoporosis, Postmenopausal"",""Calcitonin"",""...",NaN,NaN,None,NaN,None
26,27,r,m,aris,[],"[""Cystic Fibrosis"",""Fibrosis"",""Osteoporosis"",""...",NaN,4460162.0,Chapel Hill,6252001.0,United States
27,28,laura,NaN,li,[],"[""Osteoporosis"",""Vitamin D"",""Diabetes Mellitus...",NaN,5074472.0,Omaha,6252001.0,United States
28,29,cathy,NaN,arnold,[],"[""Osteoporosis""]",NaN,4558942.0,Kennett Square,6251999.0,Canada
29,30,hannu,t,aro,[],"[""Diphosphonates"",""Osteoarthritis"",""Osteoarthr...",57342.0,633679.0,Turku,660013.0,Finland
...,...,...,...,...,...,...,...,...,...,...,...
807,808,s,NaN,wimalawansa,[],"[""Bone Diseases, Metabolic"",""Osteoporosis"",""Ni...",28601.0,4692883.0,Galveston,6252001.0,United States
808,809,NaN,NaN,winfield,"[""kingman"",""hines"",""healthcare"",""duluth"",""dora...","[""Calcium Carbonate"",""Risedronate Sodium"",""Erg...",NaN,NaN,None,NaN,None
809,810,k,NaN,martin,[],"[""Prostatic Neoplasms"",""Osteoporosis"",""Breast ...",48628.0,5720727.0,Corvallis,6252001.0,United States
810,811,kantonsspital,NaN,winterthur,"[""triemli"",""friederikenstift"",""der isar der tu...","[""Shoulder Fractures"",""Humeral Fractures"",""Fra...",NaN,NaN,None,NaN,None
811,812,fredric,NaN,wolinsky,"[""georgia""]","[""Bone Diseases"",""Osteoporosis"",""Bone Diseases...",NaN,4862034.0,Iowa City,6252001.0,United States
812,813,a,NaN,wolk,[],"[""Cardiovascular Diseases"",""Gastrointestinal D...",143061.0,2673730.0,Stockholm,2661886.0,Sweden
813,814,w,w,wong,[],"[""Osteoporosis""]",NaN,NaN,None,NaN,None
814,815,grattan,c,kim,"[""recker"",""miller"",""ste marie"",""recknor"",""bals...","[""Osteoporosis"",""Risedronate Sodium"",""Etidroni...",59820.0,4191124.0,Decatur,6252001.0,United States
815,816,emiel,f,wouters,"[""romme""]","[""Osteoporosis"",""Chronic Disease"",""Lung Diseas...",NaN,2751283.0,Maastricht,2750405.0,Netherlands
816,817,adam,NaN,wright,[],"[""Renal Insufficiency"",""Coronary Artery Diseas...",747624.0,NaN,None,NaN,None
817,818,rudolf,NaN,wang,"[""wuthrich""]","[""Renal Insufficiency, Chronic"",""Kidney Diseas...",NaN,2657896.0,Zürich,2658434.0,Switzerland
818,819,r,p,wuthrich,"[""wuethrich""]","[""Renal Insufficiency, Chronic"",""Kidney Diseas...",NaN,2657896.0,Zürich,2658434.0,Switzerland
819,820,w,NaN,xia,[],"[""Osteoporosis"",""Osteoporosis, Postmenopausal""...",NaN,NaN,None,NaN,None
820,821,you,NaN,jiang,[],"[""Vitamin D"",""Ergocalciferols"",""Vitamins"",""Cho...",NaN,NaN,None,NaN,None
821,822,c,NaN,fenton,"[""wang""]","[""Osteoporosis""]",NaN,NaN,None,NaN,None
822,823,e,NaN,yaacobi,[],"[""Osteoporosis"",""Osteoporotic Fractures"",""Frac...",908460.0,293397.0,Tel Aviv,294640.0,Israel
823,824,l,NaN,yamamoto,[],"[""Hemophilia B"",""Hemophilia A""]",NaN,NaN,None,NaN,None
824,825,l,NaN,harris,[],"[""Osteoporosis"",""Fractures, Bone""]",NaN,2638077.0,Sheffield,2635167.0,United Kingdom
825,826,s,NaN,yao,"[""wang""]","[""Osteoporosis""]",NaN,NaN,None,NaN,None
826,827,mohamed,NaN,cheung,[],"[""Osteoporosis"",""Denosumab"",""Diphosphonates"",""...",NaN,290030.0,Doha,289688.0,Qatar
827,828,subhashini,NaN,smith,[],"[""Diabetes Mellitus"",""Diabetes Mellitus, Type ...",156316.0,4341513.0,Shreveport,6252001.0,United States
828,829,jin,seob,yeom,"[""kim""]","[""Fractures, Bone"",""Fractures, Compression""]",NaN,1835235.0,Daejeon,1835841.0,South Korea
829,830,eu,leong,yong,[],"[""Osteoporosis"",""Cardiovascular Diseases""]",538405.0,1880252.0,Singapore,1880251.0,Singapore
830,831,k,h,yoon,[],"[""Metabolic Diseases""]",NaN,NaN,None,NaN,None
831,832,boutsen,NaN,yves,"[""boutsen""]","[""Vitamin D"",""Vitamins"",""Osteoporosis"",""Bone D...",NaN,NaN,None,NaN,None
832,833,babette,NaN,zemel,[],"[""Osteoporosis""]",98387.0,4560349.0,Philadelphia,6252001.0,United States
833,834,hongmei,NaN,zhang,[],"[""Osteoporosis""]",NaN,NaN,None,NaN,None
834,835,li,NaN,zhang,"[""weng""]","[""Sarcopenia"",""Osteoporosis""]",NaN,NaN,None,NaN,None
835,836,gershon,NaN,cheung,[],"[""Teriparatide"",""Osteoporosis"",""Fractures, Bon...",1036504.0,281184.0,Jerusalem,294640.0,Israel
836,837,o,NaN,zlin,[],"[""Osteoporosis"",""Denosumab"",""Osteoporosis, Pos...",NaN,NaN,None,NaN,None

# Divide and conquer
I have philosophy when it comes to problems in data science. KISS (Keep It Simple Stupid). With a cartisean product of the subset of the data that we have ground truth for, it would be possible to engineer some features from the strings and build a predictive model. However I think there are better ways to get the ball rolling. We will try a divide and conquer techique. We will try to develop unique IDs using information in the data.

1. Join data that has ORCIDs
2. Remove data with ORCIDs from the data
3. Find unique last names and join those from the two datasets
4. Concatenate orcid join and unique last name join
5. Filter out already joined data from the data
6. Find unique combination of the first letter from first name and last name
7. Join on this combination and concatenate with previous data.
8. Filter out already joined data from the data
9. Combine fist, middle, and last name into 1 column for remaining data
10. Do fuzzy join
11. Combine with previously joined data

In [189]:
investigators_with_orcid = investigators[investigators['orcid'].notnull()].rename(columns={'id':'id_authors'})[['id_authors', 'orcid']]
authors_with_orcid = authors[authors['orcid'].notnull()].rename(columns={'id':'id_investigators'})[['id_investigators', 'orcid']]

In [190]:
joined_on_orcid = pd.merge(investigators_with_orcid, authors_with_orcid, on='orcid')[['id_authors', 'id_investigators']]

In [191]:
# finding authors that do not have orcid
authors_without_orcid = authors[authors['orcid'].isnull()]
investigators_without_orcid = investigators[investigators['orcid'].isnull()]
    
# finding authors with unique last names
authors_unique_last_name = authors_without_orcid.drop_duplicates(subset=['lastname'])
investigators_unique_last_name = investigators_without_orcid.drop_duplicates(subset=['lastname'])

In [192]:
#unique last names count for authors
(authors_unique_last_name.lastname.value_counts().apply(pd.Series)[0] == 1).value_counts()

True    519
Name: 0, dtype: int64

In [193]:
#unique last names count for investigators
(investigators_unique_last_name.lastname.value_counts().apply(pd.Series)[0] == 1).value_counts()

True    428
Name: 0, dtype: int64

In [194]:
joined_on_unique_names = pd.merge(authors_unique_last_name, investigators_unique_last_name, on='lastname',
                                  suffixes=('_authors', '_investigators'))[['id_authors', 'id_investigators']]

In [195]:
#198 more joined! It means however there is not perfect overlap with the data
joined_on_unique_names.nunique()

id_authors          198
id_investigators    198
dtype: int64

In [196]:
concat_orcid_unique_names = pd.concat([joined_on_unique_names, joined_on_orcid])

In [197]:
# Removing authors that have already been sucessfully joined
authors_left = authors[~authors['id'].isin(concat_orcid_unique_names['id_authors'])]
investigators_left = investigators[~investigators['id'].isin(concat_orcid_unique_names['id_investigators'])]

In [199]:
# Creating first letter last name combo
authors_left['first_letter_last_name'] = (authors_left.first_name.str[0] + '_' + authors_left.lastname).astype(str)
investigators_left['first_letter_last_name'] = (investigators_left.first_name.str[0] + '_' + investigators_left.lastname).astype(str)
authors_left_unique_combo = authors_left.drop_duplicates(subset=['first_letter_last_name'])
investigators_left_unique_combo = investigators_left.drop_duplicates(subset=['first_letter_last_name'])

In [200]:
joined_on_unique_names_combo = pd.merge(authors_left_unique_combo, investigators_left_unique_combo, on='first_letter_last_name',
                                  suffixes=('_authors', '_investigators'))[['id_authors', 'id_investigators']]

In [201]:
joined_on_unique_names_combo.shape

(180, 2)

In [202]:
concat_all_before_fuzzy = pd.concat([concat_orcid_unique_names,joined_on_unique_names_combo])

In [203]:
# Removing authors that have already been sucessfully joined
authors_for_fuzzy_join = authors[~authors['id'].isin(concat_all_before_fuzzy['id_authors'])]
investigators_for_fuzzy_join = investigators[~investigators['id'].isin(concat_all_before_fuzzy['id_investigators'])]

In [204]:
authors_for_fuzzy_join.shape

(485, 11)

In [205]:
# Replace middle name with neatural character
authors_for_fuzzy_join['middle_name'] = authors_for_fuzzy_join.middle_name.fillna('_')
investigators_for_fuzzy_join['middle_name'] = investigators_for_fuzzy_join.middle_name.fillna('_')

In [206]:
# Creating fuzzy join ID
authors_for_fuzzy_join['fuzzy_id'] = (authors_for_fuzzy_join.first_name + '_' + authors_for_fuzzy_join.middle_name + "_" + authors_for_fuzzy_join.lastname).astype(str)
investigators_for_fuzzy_join['fuzzy_id'] = (investigators_for_fuzzy_join.first_name + '_' + investigators_for_fuzzy_join.middle_name + "_" + investigators_for_fuzzy_join.lastname).astype(str)

In [207]:
# Renaming and selecting columns
authors_for_fuzzy_join = authors_for_fuzzy_join[['fuzzy_id', 'id']].rename(columns={'id':'id_authors'})
investigators_for_fuzzy_join = investigators_for_fuzzy_join[['fuzzy_id', 'id']].rename(columns={'id':'id_investigators'})

In [208]:
# get closest match algorithm based on jaro_winkler
def get_closest_match(x, list_strings):
    best_match = None
    highest_jw = 0
    for current_string in list_strings:
        current_score = jellyfish.jaro_winkler(x, current_string)
        
        if(current_score > highest_jw):
            highest_jw = current_score
            best_match = current_string
            
    return best_match

# Evaluation

In [209]:
investigators_with_orcid = investigators[investigators['orcid'].notnull()].rename(columns={'id':'id_authors'})
authors_with_orcid = authors[authors['orcid'].notnull()].rename(columns={'id':'id_investigators'})

In [210]:
authors_with_orcid['fuzzy_id'] = (authors_with_orcid.first_name + '_' + authors_with_orcid.middle_name + "_" + authors_with_orcid.lastname).astype(str)
investigators_with_orcid['fuzzy_id'] = (investigators_with_orcid.first_name + '_' + investigators_with_orcid.middle_name + "_" + investigators_with_orcid.lastname).astype(str)

In [211]:
authors_with_orcid.fuzzy_id = authors_with_orcid.fuzzy_id.map(lambda x: get_closest_match(x, investigators_with_orcid.fuzzy_id))

In [212]:
evaluate_fuzz = pd.merge(authors_with_orcid, investigators_with_orcid, how='left', on='fuzzy_id', suffixes=('_authors', '_investigators'))

In [213]:
(evaluate_fuzz['orcid_authors'] == evaluate_fuzz['orcid_investigators']).sum()

133

In [214]:
authors_with_orcid.shape

(206, 12)

In [215]:
#correct matches using fuzzy join
133/206

0.6456310679611651

In [216]:
investigators_for_fuzzy_join.fuzzy_id = investigators_for_fuzzy_join.fuzzy_id.map(lambda x: get_closest_match(x, authors_for_fuzzy_join.fuzzy_id))

In [217]:
fuzzy = pd.merge(authors_for_fuzzy_join, investigators_for_fuzzy_join, on='fuzzy_id')

In [218]:
final_fuzz = fuzzy[['id_authors', 'id_investigators']]

In [219]:
concat_all = pd.concat([final_fuzz, concat_all_before_fuzzy])

In [220]:
concat_all.shape

(920, 2)

# Final Remarks
Given the time constains I could not try everything that I would have liked. I would still investigate further the approached outside of ML further.I would test different distance calculations, as well as different variable combinations to make a fuzzy id out of.

From the machine learning perspective I would have done a cartisean product of ground truth data, feature engineer label, plus feature engineer multiple features related to distance of strings. I would test out different string distance metrics. I would start with a base_line logistics regression, then move to more complex models from there. If I engineer to many distance features I may try to do a PCA.

From a code perspecive, way to much duplicated code, everything needs to be put into functions. As well as proper unit testing for little pieces of the code.